<!-- 微新闻-->

<h4 class="CHeader pull-left">微新闻</h4>

<hr class="whiter"/>

<div class="block-area" ng-class="$root.myAnimate" ng-controller="NewsController">

    <div class="photo-gallery tile clearfix">

        <div class="superbox-list" ng-repeat="news in NewsList">
            <img src={{news.thumbPic}} data-img={{news.orgPic}} alt="" class="superbox-img" ng-click="openLightboxModal($index)"/>
            <h5 class="m-t-20">{{news.title}}</h5>

        </div>
        <div class="superbox-float"></div>
    </div>
</div>

<!--&lt;!&ndash; Javascript Libraries &ndash;&gt;-->
<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="../js/jquery.min.js"></script> &lt;!&ndash; jQuery Library &ndash;&gt;-->

<!--&lt;!&ndash; Media &ndash;&gt;-->
<!--<script src="../js/superbox.min.js"></script> &lt;!&ndash; Photo Gallery &ndash;&gt;-->

<!--&lt;!&ndash; UX &ndash;&gt;-->
<!--<script src="../js/scroll.min.js"></script> &lt;!&ndash; Custom Scrollbar &ndash;&gt;-->

<!--&lt;!&ndash; All JS functions &ndash;&gt;-->
<!--<script src="../js/functions.js"></script>-->








