<nav class="navbar-fixed-top zt-navbackground" ng-class="$root.myTheme">
    <div class="navbar-header">
        <a class="navbar-brand" href="">信闻</a>

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#top-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>


    <div id="top-nav" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

            <li>
                <a href="/" class="nav-link-a">主页</a>
            </li>
            <li>
                <a href="/" class="nav-link-a">归属圈</a>
            </li>
            <li ng-controller="HomeController">
                <a ng-click="openAside('left')" class="nav-link-a" href="javascript:void(0)">个人设置</a>
            </li>
            <li class="dropdown" ng-controller="HomeController">
                <a href="" class="dropdown-toggle nav-link-a" data-toggle="dropdown">
                    主题
                    <b class="caret"></b>
                </a>

                <ul class="dropdown-menu nav-link-a" style="background: transparent;">

                    <li><a ng-click="ThemeChange('orange')" style="color:white">Orange</a></li>
                    <li><a ng-click="ThemeChange('green')" style="color:white">Green</a></li>
                    <li><a ng-click="ThemeChange('blue')" style="color:white">Blue</a></li>
                    <li><a ng-click="ThemeChange('purple')" style="color:white">Purple</a></li>
                    <li><a ng-click="ThemeChange('lake')" style="color:white">Lake(Default)</a></li>

                </ul>

            </li>


        </ul>

        <!--TODO: UAM SYSTEM-->
        <div class="nav navbar-form pull-right">
            <div ng-show="!authService.isLoggedIn()">
                <a href="#loginModal" role="button" class="btn btn-primary" data-toggle="modal">
                    <i class="glyphicon glyphicon-user glyphicon-white"></i> Sign in</a>
            </div>
            <div ng-show="authService.isLoggedIn()">
                <a class="btn btn-primary" ng-click="authService.logout()">
                    <i class="glyphicon glyphicon-off glyphicon-white"></i> Sign out</a>
            </div>
        </div>

        <div ng-show="authService.isLoggedIn()">
            <ul class="nav navbar-nav pull-right">

                <li ng-show="authService.isLoggedIn()" class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user glyphicon-white"></i>

                        <b class="caret"></b>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="/">User Profile</a></li>
                        <li><a href="/">Change password</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>
</nav>

<div class="modal" id="loginModal" fade-in>
    <div class="modal-dialog" style="width:20%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <span id="login-email">Email</span>

                <input type="text" ng-model="loginInput" class="form-control" placeholder="Email"
                       aria-describedby="basic-addon2">

                <br/>
                <span id="login-password">Password</span>
                <input type="password" ng-model="passwordInput" class="form-control" placeholder="Password"
                       name='password' aria-describedby="basic-addon2">

                <br/>
                <!--<a href="">Forgot password?</a>-->
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" data-dismiss="modal" ng-click="authService.login(loginInput, passwordInput)">
                    <i class="glyphicon glyphicon-user glyphicon-white"></i>Log in</a>
            </div>
        </div>
    </div>
</div>
